*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Nova Flat', cursive;
}
#my-app{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1200px;
    height: 100vh;
}
.caculater{
    width: 350px;
    height: 410px;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    margin: 0 auto;
    padding: 20px;
    background: #ff7675;
}

input[type=text] {
    border: none;
    width: 100%;
    height: 20%;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 0px 16px;
    outline: none;
}

table{
    margin-top: 10px;
    width: 100%;
    height: 80%;
    text-align: center;
}

td{
    border: 1px solid black;
    width: 100px;
    height: 20%;
    border-radius: 6px;
}

.button{
    cursor: pointer;
}

.button:active{
    border: none;
    background: white;
}